body {
    background-color: lightblue;
  }

  h1 {
    background-color: green;
  }
  
  div {
    height: 30px;
    width: 20%;
  }

  
  /* hero background image */


a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  .imageAboutPage {
    width: 30%;
}

.navbarScroll.navbarDark {
    background-color: black;
}